@using Microsoft.AspNet.Identity
@using Caterpillar.Models;
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- caterpillar -->
    @Scripts.Render("~/bundles/caterpillar")
    @Scripts.Render("~/bundles/d3.v3")
    

    @RenderSection("scripts", required: false)

</head>

<body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <a id="gusjenica" href="@Url.Action("Index", "MainMenuStudent")" class="navbar-brand" style="width: 300px;"> <img class="background-image" src="@Url.Content("~/Content/img/caterpillar-pia-nacrtano-dobrasiva.jpg")" width="100%">  </a>


            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*Html.ActionLink("Hello " + User.Identity.GetUserName()  + "!", "", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })*@

            <div class="collapse navbar-collapse navHeaderCollapse">

                <ul class="nav navbar-nav navbar-right">

                    <li style="color:#f1700f">
                        @if (Request.IsAuthenticated)
                        { 
                            <a style="color:#f1700f">Hi @User.Identity.Name.ToString() ! </a>
                        }
                    </li>
                    <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                    @if (User == null)
                    {    
                        <li><a href="@Url.Action("Index","Home")">Main Menu</a></li>
                    }
                    else if (User.IsInRole("Administrator"))
                    {
                         <li><a href="@Url.Action("Index","MainMenuAdmin")">Main Menu</a></li>
                    }
                    else if (User.IsInRole("Teacher"))
                    {
                         <li><a href="@Url.Action("Index","MainMenuTeacher")">Main Menu</a></li>
                    }
                    else if (User.IsInRole("Student"))
                    {
                         <li><a href="@Url.Action("Index","MainMenuStudent")">Main Menu</a></li>
                    }
                    else 
                    {    
                        <li><a href="@Url.Action("Index","Home")">Main Menu</a></li>
                    }
                    <li>@if (Request.IsAuthenticated)
                        { 
                            @Html.ActionLink("Log Out", "LogOff", "Account")
                        }
                        else 
                        {
                            @Html.ActionLink("Log In", "Login", "Account")
                        }
                    </li>
                    <!--<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Gooogle+</a></li>
                        </ul>
                    </li>

                    <li><a href="#contact" data-toggle="modal">Contact</a></li> -->

                </ul>

            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="lijeviTab col-sm-3">
                <div class="list-group">
                    <a href="#" class="list-group-item" style="background-color: #f8b787;">
                        <center>
                            @if (Session["OdabraniTopicId"] != null) { 
                                CaterpillarContext db = new CaterpillarContext();
                                var topic = db.Topics.Find((int)Session["OdabraniTopicId"]);
                                
                                <h1 class="list-group-item-heading">@topic.Name</h1>

                                <p class="list-group-item-text">start: @topic.StartDate</p>
                                <p class="list-group-item-text">end: @topic.EndDate</p>                            
                            }
                        </center>
                    </a>
                    <a href="@Url.Action("K", "Caterpillar")" class="list-group-item">
                        <center>
                            <img class="featuredImg img-circle" src="@Url.Content("~/Content/img/K2.JPG")" width="90%">

                        </center>
                    </a>
                    <a href="@Url.Action("W", "Caterpillar")" class="list-group-item">
                        <center>
                            <img class="featuredImg img-circle" src="@Url.Content("~/Content/img/W2.JPG")" width="90%">

                        </center>
                    </a>
                    <a href="@Url.Action("L", "Caterpillar")" class="list-group-item">
                        <center>
                            <img class="featuredImg img-circle" src="@Url.Content("~/Content/img/L2.JPG")" width="90%">

                        </center>
                    </a>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <div class="lijeviTab col-sm-2">
                <div class="list-group">
                    @if (User == null)
                    {    
                        <a href="#" class="list-group-item" style="background-color: #fdf0e7;">
                            <center>
                                <h1 class="list-group-item-heading">Main Menu</h1>
                            </center>
                        </a>
                    }
                    //else if (((Role)Session["PrimljeniUser-Role"]).Name == "Administrator")
                    else if (User.IsInRole("Administrator"))
                    {
                         <a href="@Url.Action("Index","MainMenuAdmin")" class="list-group-item" style="background-color: #fdf0e7;">
                            <center>
                                <h1 class="list-group-item-heading">Main Menu</h1>
                            </center>
                         </a>
                    }
                    else if (User.IsInRole("Teacher"))
                    {
                         <a href="@Url.Action("Index","MainMenuTeacher")" class="list-group-item" style="background-color: #fdf0e7;">
                            <center>
                                <h1 class="list-group-item-heading">Main Menu</h1>
                            </center>
                         </a>
                    }
                    else if (User.IsInRole("Student"))
                    {
                         <a href="@Url.Action("Index","MainMenuStudent")" class="list-group-item" style="background-color: #fdf0e7;">
                            <center>
                                <h1 class="list-group-item-heading">Main Menu</h1>
                            </center>
                         </a>
                    }
                    else 
                    {    
                        <a href="#" class="list-group-item" style="background-color: #fdf0e7;">
                            <center>
                                <h1 class="list-group-item-heading">Main Menu</h1>
                            </center>
                        </a>
                    }
                    <div class="list-group-item" style="background-color: #fad4b7;">
                        <center>
                            <h4 class="list-group-item-heading">Users:</h4>
                        </center>
                        <a href="#"><p class="list-group-item-body">Me</p></a>
                        <a href="#"><p class="list-group-item-body">Teacher</p></a>
                        <ol>
                            <li>Student 1</li>
                            <li>Student 2</li>
                            <li>Student 3</li>
                            <li>Student 4</li>
                            <li>Student 5</li>
                        </ol>
                    </div>
                    <a href="#" class="list-group-item" style="background-color: #f8b787;">
                        <center>
                            <h4 class="list-group-item-heading">Score</h4>
                        </center>
                        <ol>
                            <li>Student 1</li>
                            <li>Student 2</li>
                            <li>Student 3</li>
                            <li>Student 4</li>
                            <li>Student 5</li>
                        </ol>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--		<div class = "navbar navbar-default navbar-fixed-bottom">
                <div class = "container">
                    <p class = "navbar-text pull-left">Site Built by Delan</p>
                    <a class = "navbar-btn btn-danger btn pull-right">Subscribe on Youtube</a>
                </div>
            </div>
    -->


    <div class="modal fade" id="contact" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal">
                    <div class="modal-header">
                        <h4>Contact Caterpillar Support</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="contact-name" class="col-lg-2 control-label">Name:</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="contact-name" placeholder="Full name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact-email" class="col-lg-2 control-label">E-mail:</label>
                            <div class="col-lg-10">
                                <input type="email" class="form-control" id="contact-name2" placeholder="you@example.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contact-message" class="col-lg-2 control-label">Name:</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="8"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="submit">Submit</button>
                        <a class="btn btn-primary" data-dismiss="modal">Close</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>
