@model Caterpillar.Models.Response

@{
    ViewBag.Title = "Response details";
    Layout = "~/Views/Shared/_LayoutMainMenuAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Response</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KWLentry.Entry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KWLentry.Entry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Response1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Response1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
