@model IEnumerable<Caterpillar.Models.User>


@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMainMenuStudentGore.cshtml";
}

<!-- <center><h2>Index</h2></center> -->

@*
        @{
            var StudentName = (ViewData["Student"] as Caterpillar.Models.User).Name;
            var StudentSurname = (ViewData["Student"] as Caterpillar.Models.User).Surname;
            <div>


                @StudentName
                @StudentSurname
            </div>
        }

        @foreach (var item in ViewData["KWLentries"]
            as List<Caterpillar.Models.KWLentry>)
        {

            @item.Entry
        }

    <div>Subjects: </div>
        @foreach (var item in ViewData["Subjects"]
            as List<Caterpillar.Models.UserClassCourse>)
        {
            @item.Course.Name
        }


    <div>Topics: </div>
            @foreach (var item in ViewData["Topics"]
                        as List<Caterpillar.Models.UserTopicViewModel>)
            {
                @item.Topic.Name
            }


*@



<div class="container" style="background-color:#e8e8e8">
    <div class="row">
        <div class=" col-sm-3">
            <div class="list-group">

                <a href="#" class="list-group-item">
                    <center>
                        <img class="featuredImg img-circle" src="img/photo.JPG" width="90%">

                    </center>
                </a>
                <a href="#" class="list-group-item">
                    <center>
                        @if (Session["Student"] != null)
                        {
                            var StudentName = (Session["Student"] as Caterpillar.Models.User).Name;
                            var StudentSurname = (Session["Student"] as Caterpillar.Models.User).Surname;
                            var StudentClass = (Session["Class"] as Caterpillar.Models.Class);



                            <h1 class="narancasto1bold" style="font-weight: bold">  @StudentName</h1>
                            <h1 class="narancasto1bold" style="font-weight: bold">  @StudentSurname</h1>
                            <h1 class="narancasto1bold" style="font-weight: bold">  @StudentClass.Name</h1>

                        }


                    </center>
                </a>

            </div>
        </div>


        <div class="lijeviTab">
            <div class="lijeviTab9 col-sm-9">


                <div class="list-group" style="background-color: #f6996c;">
                    <center>
                        <h2 class="bijelo1"><center>My Classes:</center></h2>
                        <br />
                            @foreach (var item in ViewData["Subjects"]
                             as List<Caterpillar.Models.UserClassCourse>)
                            {
                                <!-- <a href="#"><h3 class="crno1"><center>@item.Course.Name</center></h3></a> -->
                                <center>@Html.ActionLink(@item.Course.Name, "ViewTopics", new { idClass=(int)item.ClassId, idCourse=(int)item.CourseId }, new { @class="h3 crno1" })</center>
                                <br />
                            }
                    </center>
                </div>
            </div>



            </div>

            <div class="lijeviTab">
                <div class="lijeviTab3 col-sm-4">
                    <div class="lijeviTab2 " style="background-color:#f6996c">
                        <h2 class="bijelo1">My Topics:</h2>
                        <ul>
                            @foreach (var item in ViewData["Topics"]
                                as List<Caterpillar.Controllers.MainMenuStudentController.UserTopicViewModel>)
                            {
                                <!--<li><a href="CaterpillarK.html"><img class "featuredImg img-circle" src="img/topic-photo.JPG" width="20%"> <h4 class="crno1">  @item.Topic.Name </h4></a></li> -->
                                <li><a href="#"> <h4 class="crno1">  @item.Topic.Name </h4></a></li>
                            }

                        </ul>
                    </div>
                </div>
                </div>
                <div class="lijeviTab4 col-sm-5">
                    <div class="lijeviTab2  " style="background-color:#f6996c">
                        <h2 class="bijelo1">Teacher's reviews:</h2>
                        <ul>
                            <li>
                                <a href="CaterpillarK.html"><img class="featuredImg img-circle" src="img/topic-photo.JPG" width="20%"> <h4 class="crno1"> NameOfTheTopic4 </h4> </a>
                                <p class="text-right"> Well done<p>
                            </li>
                            <li>
                                <a href="CaterpillarK.html"><img class="featuredImg img-circle" src="img/topic-photo.JPG" width="20%"> <h4 class="crno1"> NameOfTheTopic5 </h4> </a>
                                <p class="text-right"> Not sufficient<p>
                            </li>
                            <li>
                                <a href="CaterpillarK.html"><img class="featuredImg img-circle" src="img/topic-photo.JPG" width="20%"> <h4 class="crno1"> NameOfTheTopic6 </h4> </a>
                                <p class="text-right"> Improvement is visible, bravo!<p>
                            </li>

                        </ul>
                    </div>
                </div>


        </div>
    
    @*
        @foreach (var item in ViewData["Subjects"] as List<Caterpillar.Models.UserClassCourse>)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Name)
            </td>
            <td>
            </td>
        </tr>
    }
        @foreach (var item in ViewData["StudentTopics"] as List<Caterpillar.Models.ClassTopic>)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Name)
            </td>
            <td>
            </td>
        </tr>
    }*@
    </div>

