@model IEnumerable<Caterpillar.Models.User>


@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMainMenuStudentGore.cshtml";
}


<div class="container">
    <div class="row">
        <ol class="breadcrumb">
		    <li><a href="@Url.Action("Index","Home")">Home</a></li>
		    <li><a href="@Url.Action("Index", @ViewContext.RouteData.Values["controller"].ToString())">@ViewContext.RouteData.Values["controller"].ToString()</a></li>
		    <li class="active">@ViewContext.RouteData.Values["action"].ToString()</li>
	    </ol>
        <div class=" col-sm-4">
            <div class="list-group">

                
                    <center>
                        <img class="featuredImg" src="@Url.Content("~/Content/img/photo.JPG")" width="60%">

                    </center>
                
                
                <center style="background-color: #f1700f; color: #ffffff;padding: 20px;/* border: 20px; */border-bottom-left-radius: 200px;border-bottom-right-radius: 200px;">
                    @if (Session["Student"] != null)
                    {
                        var StudentName = (Session["Student"] as Caterpillar.Models.User).Name;
                        var StudentSurname = (Session["Student"] as Caterpillar.Models.User).Surname;
                        var StudentClass = (Session["Class"] as Caterpillar.Models.Class);



                        <h1 class="bijelo1bold" style="font-weight: bold">  @StudentName</h1>
                        <h1 class="bijelo1bold" style="font-weight: bold">  @StudentSurname</h1>
                        <h1 class="bijelo1bold" style="font-weight: bold">  @StudentClass.Name</h1>

                    }

                </center>


                

            </div>
        </div>
        <div class=" col-sm-4">
            <div class="list-group">

                
                    <center>
                        <h1 class="bijelo1bold" style="font-weight: bold; background-color: #f1700f; color: #ffffff; padding: 20px; /* border: 20px; */ border-bottom-left-radius: 50px; border-bottom-right-radius: 50px;"> My Topics </h1>
                    </center>
               
                <div class=" col-sm-1">
                </div>
                <div class=" col-sm-11">
                    <br />
                    <ul class="nav1 list-unstyled">
                        @foreach (var item in ViewData["Topics2"]
                                as IOrderedEnumerable<Caterpillar.Controllers.MainMenuStudentController.TOPICSClassCourseViewModel>)
                        {
                            <li>
                                <a href=" @Url.Action("SelectTopic", new { idClass = ViewData["PrimljeniClassId"], idCourse = ViewData["PrimljeniCourseId"], idTopic = @item.Topic.Id }) ">
                                    <h4 class=" crno1">
                                    <img class="featuredImg" src="@Url.Content("~/Content/img/lista.JPG")" width="10%"> @item.Topic.Name </h4>
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </div>


            <div class=" col-sm-4">
                <div class="list-group">

                    
                        <center>
                            <h1 class="bijelo1bold" style="font-weight: bold;background-color: #f1700f; color: #ffffff;padding: 20px;/* border: 20px; */border-bottom-left-radius: 50px;border-bottom-right-radius: 50px;"> My Classes </h1>
                        </center>
                    
                    <div class=" col-sm-1">
                    </div>
                    <div class=" col-sm-11">
                        <br />
                        <ul class="nav1 list-unstyled">
                            @foreach (var item in ViewData["Subjects"]
                             as IOrderedEnumerable<Caterpillar.Models.UserClassCourse>)
                            {
                                var vjudata = ViewData["Topics"] as IOrderedEnumerable<Caterpillar.Controllers.MainMenuStudentController.UserTopicViewModel>;
                                var courseTopic = from topic in vjudata where topic.Course.Id == @item.CourseId select topic;  
                                <li class="dropdown">
                                    <a href="CaterpillarK.html" class="dropdown-toggle" data-toggle="dropdown"> <h4 class="crno1">  <img src="@Url.Content("~/Content/img/lista.JPG")" width="10%">@item.Course.Name  <b class="caret"></b></h4></a>
                                    <ul class="dropdown-menu">
                                         @foreach (var item1 in courseTopic)                                         
                                         {
                                            <li><a href="@Url.Action("SelectTopic", new { idClass = ViewData["PrimljeniClassId"], idCourse = @item1.Course.Id, idTopic = @item1.Topic.Id })"> <h4 class="crno1"> <img src="@Url.Content("~/Content/img/lista.JPG")" width="10%"> @item1.Topic.Name </h4></a></li>     
                                         }
                                        

                                    </ul>
                                </li>                               
                            }
                        </ul>
                        
                    </div>
                </div>
            </div>


            

           
               


        </div>
    
   
    </div>

