@model Caterpillar.Models.Response

@{
    ViewBag.Title = "Edit response";
    Layout = "~/Views/Shared/_LayoutMainMenuTeacher.cshtml";
    int idClass = (int)ViewData["PrimljeniClassId"];
    int idCourse = (int)ViewData["PrimljeniCourseId"];
    int idTopic = (int)ViewData["PrimljeniTopicId"];
}

<h2>Edit response</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.EntryId)
        @Html.HiddenFor(model => model.UserId)

        <div class ="form-group">
            <p>@ViewBag.Entry</p>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Response1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Response1)
                @Html.ValidationMessageFor(model => model.Response1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Correction, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Correction)
                @Html.ValidationMessageFor(model => model.Correction)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Points, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Points)
                @Html.ValidationMessageFor(model => model.Points)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ViewResponses", new { idClass = (int)idClass, idCourse = (int)idCourse, idTopic = (int)idTopic })
</div>
