@model IEnumerable<Caterpillar.Controllers.MainMenuTeacherController.USERSClassCourseViewModel>

@{
    ViewBag.Title = "Students in class";
    Layout = "~/Views/Shared/_LayoutMainMenuTeacher.cshtml";
}

<h2>Students of class @ViewBag.ClassName</h2>

<h2>Course: @ViewBag.CourseName</h2>

<br />

<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            Name
        </th>
        <th>
            Surname
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewData["Users"] as List<Caterpillar.Controllers.MainMenuTeacherController.USERSClassCourseViewModel>)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Surname)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>