@model IEnumerable<Caterpillar.Models.Response>

@{
    ViewBag.Title = "ViewResponses";
    Layout = "~/Views/Shared/_LayoutMainMenuTeacher.cshtml";
    int idClass = (int)ViewData["PrimljeniClassId"];
    int idCourse = (int)ViewData["PrimljeniCourseId"];
    int idTopic = (int)ViewData["PrimljeniTopicId"];
}

<h2>Responses for topic: @ViewBag.TopicName</h2>

<hr />

@using (Html.BeginForm())
{
    <p>
        Find by student's name: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" /></p>
}

<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KWLentry.Entry)
        </th>
        <th>
            Response
        </th>
        <th>
            @Html.ActionLink("Name", "ViewResponses", new { sortOrder = ViewBag.NameSortParm, idClass = ViewData["PrimljeniClassId"], idCourse = ViewData["PrimljeniCourseId"], idTopic = ViewData["PrimljeniTopicId"] })
        </th>
        <th>
            @Html.ActionLink("Surname", "ViewResponses", new { sortOrder = ViewBag.SurnameSortParm, idClass = ViewData["PrimljeniClassId"], idCourse = ViewData["PrimljeniCourseId"], idTopic = ViewData["PrimljeniTopicId"] })
        </th>
        <th>
            Corrected
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KWLentry.Entry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Response1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Surname)
        </td>
        <td>
            @if (item.Correction == 0) 
            {
                <p>No</p>
            }
            else if (item.Correction == 1)
            { 
                <p>Yes</p>
            }
        </td>
        <td>
            @if (item.Points == 0)
            { 
                <p>False</p>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.Points)
            }
        </td>
        <td>
            @Html.ActionLink("Evaluate", "EvaluateResponse", new { id=item.Id, idClass = ViewData["PrimljeniClassId"], idCourse = ViewData["PrimljeniCourseId"], idTopic = ViewData["PrimljeniTopicId"]}) |
            @Html.ActionLink("Edit", "EditResponse", new { id=item.Id, idClass = ViewData["PrimljeniClassId"], idCourse = ViewData["PrimljeniCourseId"], idTopic = ViewData["PrimljeniTopicId"] }) |
            @Html.ActionLink("Delete", "DeleteResponse", new { id=item.Id, idClass = ViewData["PrimljeniClassId"], idCourse = ViewData["PrimljeniCourseId"], idTopic = ViewData["PrimljeniTopicId"] })
        </td>
    </tr>
}

</table>

<p>
        @Html.ActionLink("Back to List", "ViewTopics", new { idClass = ViewData["PrimljeniClassId"], idCourse = ViewData["PrimljeniCourseId"] } )
</p>